<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsan.godotbridge">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotBridge"
            android:value="com.appsan.godotbridge.GodotBridge" />
    </application>
</manifest>